<h1>Editing Question</h1>

<%= render 'form' %>

<%=link_button_to 'Question Details',url_for(:action=>"show",:controller=>"questionnaires",:id=>"#{@quest.questionnaire.id}") %>
<%=link_button_to 'List Questions',url_for(:action=>"index",:controller=>"quests") %>
