<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @content_developer.name %>
</p>


<%= link_to 'Edit', edit_content_developer_path(@content_developer) %> |
<%= link_to 'Back', content_developers_path %>
