<h1>Editing developer</h1>

<%= render 'form' %>

<%#= link_to 'Show', @developer %> |
<%#= link_to 'Back', developers_path %>
<%= link_button_to "Show", url_for(@developer)%> &nbsp; &nbsp;
<%= link_button_to "Back", url_for(:back)%>
