<h1>Editing class Name</h1>

<%= render 'form' %>

<%#= link_to 'Show', @class_detail %>
<%#= link_to 'Back', class_details_path %>
<%= link_button_to "List class", url_for(:action=>"index", :controller=>"class_details")%>
