<h1>Add New class</h1>

<%= render 'form' %>
<%= link_button_to "Back to Admin page", url_for(:action=>"index", :controller=>"admin_people")%>
<%= link_button_to "List class", url_for(:action=>"index", :controller=>"class_details")%>
