<p id="notice"><%= notice %></p>

<p>
  <b>Classname:</b>
  <%= @class_detail.classname %>
</p>


<%= link_to 'Edit', edit_class_detail_path(@class_detail) %> |
<%= link_to 'Back', class_details_path %>
