<h1>Edit Student Class Information</h1>

<%= render 'form' %>

<%#= link_to 'Show', @student_detail %>
<%= link_button_to "Back to List Page", url_for(:action=>"index", :controller=>"student_details")%>
