<h1>Editing lesson</h1>

<%= render 'form' %>
<br />
<%#= link_to 'Show', @lesson %>
<%#= link_to 'Back', lessons_path %>
<%#= link_button_to "Show", url_for(@lesson)%> &nbsp; &nbsp;
<%= link_button_to "Back", url_for(:back)%>

