<h1>Editing questionnaire name</h1>

<%= render 'form' %>
<br />
<%= link_button_to "Show", url_for(@questionnaire)%> &nbsp;&nbsp;
<%= link_button_to "List Questionnaire", url_for(:action=>"index")%>
