<h1>Edit Content Information</h1>

<%= render 'form' %>
<br />
<%=link_button_to "Back", url_for(:back)%>
<%#= link_to 'Show', @content_info %>
<%#= link_to 'Back', content_infos_path %>
<%#= link_button_to "Lesson Details page", url_for(:action=>"index", :controller=>"developers")%>

