<h1>New Content Data</h1>

<%= render 'form' %>
<%#=link_to "Back",{:action=>"new", :controller=>"lesson_pages"} %>
<%#=link_to "Back",{:action=>"new", :controller=>"lessons"} %> <br />
<%= link_button_to "Back to New Lesson page", url_for(:action=>"new", :controller=>"lessons")%>
